<ul>
  <% @resources.each do |resource| %>
  <li>
    <%= link_to resource.title, resource.url %>
    <p>
      <%= resource.description %>
    </p>
    <p>
      <%= resource.created_at %>
    </p>
  </li>
  <% end %>
</ul>