<% unless params[:filter].nil? %>
<h2>
  Search results
</h2>
<% end %>

<% if @resources.blank? %>
<p>
  Add some resources!
</p>
<% else %>
<ul>
  <% @resources.each do |resource| %>
  <li>
    <%= render 'resources/show', resource: resource %>
    <div id="tags-<%= resource.id %>">
      <div class="tags">
        <% if resource.tags.blank? %>
        <p>
          Add your first tag!
        </p>
        <% else %>
        <% resource.tags.each do |tag| %>
        <%= render 'tags/show', tag: tag %>
        <% end %>
        <% end %>
      </div>
      <%= render 'tags/new', tag: @tag, resource: resource %>
    </div>
  </li>
  <% end %>
</ul>
<% end %>
