<% unless params[:filter].nil? %>
<h2>
  Search results
</h2>
<% end %>

<% if @resources.blank? %>
<p>
  Add some resources!
</p>
<% else %>
<ul>
  <% @resources.each do |resource| %>
  <li>
    <%= render 'resources/show', resource: resource %>
    <% if resource.tags.blank? %>
    <p>
      Add your first tag!
    </p>
    <% else %>
    <div id="tags-<%= resource.id %>">
      <div class="tags">
        <% resource.tags.each do |tag| %>
        <%= render 'tags/show', tag: tag %>
        <% end %>
      </div>
      <% end %>
      <%= render 'tags/new', tag: @tag, resource: resource %>
    </div>
  </li>
  <% end %>
</ul>
<% end %>
